* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    background: url('assets/images/bg.jpg') no-repeat center center/cover;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    padding: 1rem;
    background: transparent;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    z-index: 999;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
    padding: 0 2rem;
}

.navbar-logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.my-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.navbar-container .navbar-menu {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
}

.navbar-container .navbar-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
}

.navbar-container .navbar-menu li a:hover {
    color: #162530;
    background: rgba(255, 255, 255, 0.885);
    border: 2px solid #fff;
}

.contact-btn {
    background-color: #fff;
    color: #162530;
    border: 2px solid #fff;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.contact-btn:hover {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
}

.navbar-toggle {
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    transition:all 0.3s ease-in-out;
}

@media (max-width: 880px) {
    .navbar {
        backdrop-filter: none;
    }

    .navbar-container .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
    }

    .contact-btn {
        display: none;
    }

    .navbar-container .navbar-menu.active {
        display: flex;
    }

    .navbar-toggle {
        display: block;
        z-index: 999;
    }


    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media (max-width: 480px) {
    .navbar-container {
        padding: 0 1rem;
    }

    .navbar-logo {
        font-size: 1.2rem;
    }

    .navbar-container .navbar-menu li a {
        font-size: 0.9rem;
        padding: 3px 15px;
    }
}